#container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 6% 80% 14%;
    grid-template-areas:
        "notbar notbar c"
        "menu main main"
        "menu back back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#kitchen-container{
    margin: 0 4vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "temp-label temp"
        "lights-label lights-btn"
        "meal-label meal-btn"
        "blinds-label blinds-btn";
}

button:active{
    border-style: inset;
}

#temperature,#lights-btn, #meal-btn,#blinds-btn{
    justify-content: end;
}

#temperature-label{
    grid-area: temp-label;
}

#temperature{
    grid-area: temp;
}

#lights-label{
    border-top: 1px solid white;
    grid-area: lights-label;
}

#lights-btn{
    border-top: 1px solid white;
    grid-area: lights-btn;
}

#meal-label {
    border-top: 1px solid white;
    grid-area: meal-label;
}

#meal-btn {
    border-top: 1px solid white;
    grid-area: meal-btn;
}

#blinds-label{
    border-top: 1px solid white;
    grid-area: blinds-label;
}

#blinds-btn {
    border-top: 1px solid white;
    grid-area: blinds-btn;
}

.temp-controller {
    cursor: pointer;
}
