#container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 6% 80% 14%;
    grid-template-areas:
        "notbar notbar c"
        "menu main main"
        "menu back back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#security-container{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

#notifications-container{
    text-align: center;
}

.notification-label{
    font-size: 0.8em;
    display: flex;
    align-items: center;
}


.notification{
    margin: 0 10px;
    font-size: .5em;
}

.camera{
    height: fit-content;
    margin: 0 10px;
    cursor: pointer;
}

#lock{
    font-size: 1em;
    width: 10vw;
    height: fit-content;
    align-self: flex-end;
    margin-top: 10vh;
    margin-left: 35vw;
    cursor: pointer;
}
