#container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 6% 80% 14%;
    grid-template-areas:
        "notbar notbar c"
        "menu main main"
        "menu back back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

#options-container{
    margin: 0 4vw;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7,auto);
    grid-template-areas: 
        "pre-wash-label pre-wash-btn"
        "foam-label foam-btn"
        "shampoo-label shampoo-btn"
        "chassis-label chassis-btn"
        "cera-label cera-btn"
        "polish-label polish-btn"
        "dry-label dry-btn";
    overflow-x: hidden;
    overflow-y: auto;
    width: 76vw;
    height: 55vh;
}

#pre-wash-label{
    grid-area: pre-wash-label;
}

#pre-wash-btn{
    grid-area: pre-wash-btn;
}

#foam-label{
    border-top: 1px solid white;
    grid-area: foam-label;
}

#foam-btn{
    border-top: 1px solid white;
    grid-area: foam-btn;
}

#shampoo-label{
    border-top: 1px solid white;
    grid-area: shampoo-label;
}

#shampoo-btn{
    border-top: 1px solid white;
    grid-area: shampoo-btn;
}

#chassis-label{
    border-top: 1px solid white;
    grid-area: chassis-label;
}

#chassis-btn{
    border-top: 1px solid white;
    grid-area: chassis-btn ;
}

#cera-label{
    border-top: 1px solid white;
    grid-area: cera-label;
}
#cera-btn{
    border-top: 1px solid white;
    grid-area: cera-btn;
}

#polish-label{
    border-top: 1px solid white;
    grid-area: polish-label;
}
#polish-btn{
    border-top: 1px solid white;
    grid-area: polish-btn;
}

#dry-label{
    border-top: 1px solid white;
    grid-area: dry-label;
}
#dry-btn{
    border-top: 1px solid white;
    grid-area: dry-btn;
}


#pre-wash-btn,#foam-btn,#shampoo-btn,#chassis-btn,#cera-btn,#polish-btn,#dry-btn{
    justify-content: end;
}

#buttons-container{
    display: flex;
    justify-content: space-evenly;
}

.back{
    font-size: 1.3em;
    justify-content: space-evenly;
}

.back button{
    margin-bottom: 5vh;
}