#container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 6% 80% 14%;
    grid-template-areas:
        "notbar notbar c"
        "menu main main"
        "menu back back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

#room-container{
    margin: 0 4vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
        "temp-label temp"
        "lights-label lights-btn"
        "tv-label tv-btn"
        "projector-label projector-btn"
        "sofa-heat-label sofa-heat-btn"
        "blinds-label blinds-btn";
}

#temperature-label{
    grid-area: temp-label;
}

#temperature{
    grid-area: temp;
}

#lights-label{
    border-top: 1px solid white;
    grid-area: lights-label;
}

#lights-btn{
    border-top: 1px solid white;
    grid-area: lights-btn;
}

#tv-label{
    border-top: 1px solid white;
    grid-area: tv-label;
}

#tv-btn{
    border-top: 1px solid white;
    grid-area: tv-btn;
}

#projector-label{
    border-top: 1px solid white;
    grid-area: projector-label;
}

#projector-btn{
    border-top: 1px solid white;
    grid-area: projector-btn ;
}

#sofa-heat-label{
    border-top: 1px solid white;
    grid-area: sofa-heat-label;
}

#sofa-heat-btn{
    border-top: 1px solid white;
    grid-area: sofa-heat-btn;
}

#blinds-label{
    border-top: 1px solid white;
    grid-area: blinds-label;
}

#blinds-btn{
    border-top: 1px solid white;
    grid-area: blinds-btn;
}

#temperature,#lights-btn,#tv-btn,#projector-btn,#sofa-heat-btn,#blinds-btn{
    width: 100%;
    justify-content: end;
}

#warm-sofa-window{
    border: 0.07em solid black;
    position: absolute;
    background-color: #8099C3;
    justify-self: center;
    align-self: center;
    padding: 1vw;
    margin-bottom: 20vh;
    display: none;
}

#temp-container{
    display: flex;
    justify-content: center;
    margin: 3vh 0;

}

.sofa-temp-controller{
    width: 2em;
    height: 2em;
    position: relative;
    bottom: 0.1vw;
    margin: 0 0.5em;
}